---
title: Home
---

<!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header -->
        <header id="header" class="header header-dark">
            <div class="container header-inner">

                <!-- Logo -->
                <div class="logo">
                    <a href="index.html">
                        <img class="logo-light" src="images/muhlig-logo-white.png" alt="Mazel" />
                        <img class="logo-dark" src="images/muhlig-logo-black.png" alt="Mazel" />
                    </a>
                </div>
                <!-- End Logo -->

                <!-- Mobile Navbar Icon -->
                <div class="nav-mobile nav-bar-icon">
                    <span></span>
                </div>
                <!-- End Mobile Navbar Icon -->

                <!-- Navbar Navigation -->
                <div class="nav-menu">
                    <ul class="nav-menu-inner">
                       <li><a href="/services.html">Services</a></li>
                        <li><a href="/experience.html">Experience</a></li>
                        <li><a href="/testimonials.html">Testimonials</a></li>
                        <li><a href="/contact.html">Contact</a></li>
                      </ul>
                </div>
                <!-- End Navbar Navigation -->

            </div>
        </header>
        <!-- End Header -->

        <!-- Intro Section -->
        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="images/bookcase.jpg">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">About Us</h2>
                </div>
            </div>
        </section>
        <!-- End Intro Section -->

        <!-- About Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Appraisal Services</h3>
                        <p class="lead"><b>Muhlig Appraisals</b> specializes in library, archive, and photography appraisals, assessing and valuating complex personal and professional archival materials of poets, fiction and non-fiction prose writers, musicians and composers, and professionals in law and other fields for libraries, archives, and other educational institutions, as well as private collectors.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Additional services include expert appraisals of such materials for charitable donations, as well as valuations for insurance, estates, and trusts.</p>
                        <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus.</p>
                    </div>
                </div>

            </div>
        </section>

        <!-- Testimonials -->
        <section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('img/full/25.jpg');" data-stellar-background-ratio="0.4">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" I got a dummy for Christmas and started teaching myself. I got books and records and sat in front of the practising. I did my first show in the third grade and just kept going. "</p>
                            <h6 class="quote-author">Jeff Dunham <span style="font-weight: 400;">( Appel Studio )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" It's true, you can never eat a pet you name. And anyway, I did my first show in the third grade it would be like a ventriloquist eating his dummy. "</p>
                            <h6 class="quote-author">Alexander Theroux <span style="font-weight: 400;">( USA )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" We're not leaving here without Buster, man. Leave no crash-test dummy behind! "</p>
                            <h6 class="quote-author">Adam Savage <span style="font-weight: 400;">( Artist )</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials -->

        <footer class="footer">
            <div class="container">

                <!-- Copyright Bar -->
                <section class="copyright ptb-60">
                    <div class="container">
                        <p class="">
                            © 2016 <a><b>Muhlig Appraisals</b></a>. All Rights Reserved.
                        </p>
                    </div>
                </section>
                <!-- End Copyright Bar -->
            </div>

        </footer>
        <!-- END FOOTER -->

      </div>
      <!-- End Site Wrapper -->