---
title: Welcome to Middleman
---

<h1>Appraisal Services</h1>

<p><b>Muhlig Appraisals</b> specializes in library, archive, and photography appraisals, assessing and valuating complex personal and professional archival materials of poets, fiction and non-fiction prose writers, musicians and composers, and professionals in law and other fields for libraries, archives, and other educational institutions, as well as private collectors.</p>

<p>Additional services include expert appraisals of such materials for charitable donations, as well as valuations for insurance, estates, and trusts. </p>
