<h1>Selected Client Testimonials</h1>

<p>
  &#8220Adam Muhlig is professionalism personified. He knows the appraisal business like no other—whether it's rare books, literary manuscripts, rock memorabilia, or Babylonian cuneiforms. I'd entrust my appraising to no one else.&#8221
  <br>  
  —Bryan A. Garner, Editor-in-chief, <i>Black's Law Dictionary<i>
</p>

<p>
  &#8220Everything about my experience with Adam was good. He was prompt, intelligent, and certain, and with his considerable help my papers have been sold and are now in protective hands. I would recommend him to anyone.&#8221
  <br>
  —Ted Kooser, U. S. Poet Laureate 2004 - 2006
</p>

<p>
  &#8220I am happy that, out of the list of major archivists whom I consulted, I asked Adam Muhlig to evaluate my papers. He worked promptly, with the utmost care and attention. When we finally met, that confirmed the high regard I had formed of him. I would certainly recommend him in my view.&#8221 
  <br>
  —W. S. Merwin, U. S. Poet Laureate 2010 
</p>

<p>
  &#8220Adam Muhlig is very knowledgeable in his specialized areas, extremely thorough in his examinations and meticulous in his assessments of materials, and a great pleasure to work with besides. His appraisal of my diverse collections was conducted in a highly conscientious and professional manner, and helped expedite their successful final disposition with a minimum of stress.&#8221
  <br>
  —Joseph Parisi, Former Editor, <i>Poetry Magazine</i>
</p>

<p>
  &#8220I have worked with Adam Muhlig for a number of years now. He is an expert appraiser, and his range of knowledge is wide. In my case, he not only annually appraises my own manuscripts—poems, fiction, essays, and reviews—but also the extensive correspondence I receive from writers as diverse as Daniel Stern, Joyce Carol Oates, Erica Jong, and Elizabeth Spencer. He always meets the deadline in order to facilitate my yearly gift to The Robert Phillips Papers at Syracuse University Library. I am extremely pleased with our working relationship.&#8221
  <br>
  —Robert Phillips, Former Director of Creative Writing, University of Houston
</p>